[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/plain;
Actions=privateCopy;
X-KDE-Priority=TopLevel

[Desktop Action privateCopy]
Name=PrivateCopy (redact to clipboard)
Exec=python3 /usr/share/privatecopy/privatecopy_nemo.py %F
Icon=privatecopy
